body {
    background-color: black;
}

.heart{
    background-color: red;
    height: 70px;
    width: 70px;
    position: absolute;
    top: 43%;
    left: 45%;
    transform: rotate(45deg);
    animation: beat 2s infinite;
  }
  
  .heart:before,
  .heart:after {
    content: "";
    background-color: red;
    border-radius: 50%;
    height: 50px;
    position: absolute;
    width: 50px;
  }
  
  .heart:before {
    top: -25px;
    left: 0;
  }
  
  .heart:after {
    left: 25px;
    top: 0;
  }
  
  @keyframes beat{
  50%{
    transform: rotate(45deg) scale(1.5);
  }
  }
