ul li {
    padding-left: 2rem;
    background-image: url(wing.png);
    background-position: 0 0;
    background-size: 1.6rem 1.6rem;
    background-repeat: no-repeat;
}

ul {
    list-style-type: none;
}

a:active {
    color: rgb(223, 111, 158);
  }

  a:visited {
    color:rgb(90, 55, 44)
  }

  a:hover {
    color:aquamarine;
  }
  a {
    border-radius: 30px;
  }