body {
    font-size: 10px;
    font-family:'Courier New', Courier, monospace;
}

.container :is(h1, h2, h3)
{
    text-align: center;
}

h1 {
    font-size: 4rem;
    text-transform: capitalize;
    text-shadow: pink 10px 5px 5px;
}
h2 {
    font-size: 3rem;
}
h3 {
    font-size: 2rem;
}

p {
    font-size: 1rem;
    line-height: 1.5;
}