body {
    font-size: 10px;
    font-family:'Courier New', Courier, monospace;
}

h1,h2,h3 {
    align-items: center;
}

h1 {
    font-size: larger;
    text-transform: capitalize;
    text-shadow: 10px;
}
h2 {
    font-size: large;
}
h3 {
    font-size: medium;
}

p {
    font-size: small;
}